.hire-ops-bg {
  background-color: #060915;
  background-size: cover;
}

.hire-ops-headings {
  color: #1ad9a6;
  font-size: 30px;
  font-family: Roboto;
  font-weight: 600;
}

.hire-ops-bg-card {
  background-image: url("https://i.pinimg.com/1200x/d6/80/98/d680982ef04447ea9c05b05a703b443f.jpg");
  background-size: cover;
  border-radius: 16px;
}
.hire-ops-bg-card a {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.ops-background a div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hire-ops-bg-card a svg {
  margin-top: 3px;
}
.hire-ops-card-title {
  color: white;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}

.hire-ops-card-link {
  color: #1ad9a6;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
}

.message {
  color: white;
  font-style: italic;
}

.ops-image {
  width: 50%;
  border-radius: 50%;
}

.ops-image2 {
  width: 50%;
}

.ops-name {
  font-size: 20px;
  color: white;
  font-weight: bold;
  font-family: Roboto;
  padding: 5px;
}

.ops-background {
  background-image: radial-gradient(#23a19f, #156665, #0d4a49);
  width: 100%;
  border-radius: 15px;
  padding: 10px;
}
